.authMainContainer {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    /* padding: 20px; For responsive spacing */
}

.innerauthMainContainer {
    width: 414px;
    height: 462px;
}

.lottieBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainXourceLogo {
    width: 100%;
    position: absolute;
    top: -8%;
    left: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.XourceLogo {}

.LoginLeftImg {
    position: absolute;
    top: -10%;
    left: -10%;
    z-index: -1;
}

.LoginRightImg {
    position: absolute;
    bottom: -20%;
    right: -10%;
    z-index: -1;
}

/* Note: Additional styles for responsive design */
@media (max-width: 600px) {
    .authMainContainer {
        padding: 20px;
    }

    .lottieBackground {
        opacity: 0.3;
    }
}